.footercontainer{
    display: grid;
    grid-template-columns: 15px repeat(6, 1fr) 15px;
    grid-template-rows: 27px 24px auto auto 24px 27px;
    grid-column-gap: 5px;
    max-width: 100%;
    margin: 44px 0 8px 0;

    &__lien{
        grid-column: 2 / span 6;
        grid-row: 3;
        text-align: center;
        margin: 5px 36px 34px 36px;
    }
    &__lien a{
        margin: 0 4px;
    }
    &__lien a:nth-of-type(2) svg{
        transform: translateY(3px);
    }

    a{
        grid-column: 3 / span 4;
        grid-row: 4;
        text-align: center;

    }

    .ampback{
        grid-row: 1 / span 6;
    }


}


#dwt{
    fill: $c-grey;
}



@media (min-width: 1200px) {
    
    .footercontainer{
        margin: 42px 94px 0 80px;

        height: 428px;

        .border{
            position: absolute;
            width: 22px;
        
            &--topleft{
                top: -21px;
                left: -21px;
            }
            &--topright{
                top: -21px;
                right: -21px;
            }
            &--bottomleft{
                bottom: -21px;
                left: -21px;
            }
            &--bottomright{
                bottom: -21px;
                right: -21px;
            }
        }

        &__lien{
            margin: 180px 0 0 0;
        }

        &__lien a{
            font-size: $size-text-destkop;
            margin: 0 13px;
        }

    }

    .footercontainer__lien a:nth-of-type(2) svg{
        transform: scale(1.3) translateY(1.4px);
    }


    
}