.menu{
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: $c-backgr;
    z-index: 1000;


    &__liste{
        margin: 16px 22px;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 5px;
    }

    &__el{
        display: flex;
        flex-direction: column;
        justify-self: center;
    }

    &__el a{
        margin: 8px 0 0 0;
    }

    &__el svg{
        transform: scale(0.9);
    }

    &.sticky{
        position: fixed;
        top: 0;
    }


}
