.maincontainer{
    width: 100vw;
    
}

.section{
    display: grid;
    width: calc(100vw - 56px);
    padding: 0 28px;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-flow: dense column;
    grid-column-gap: 5px;
    overflow-x: hidden !important;


    grid-template-rows: repeat(7, auto);
}

p{
    grid-column: 1 / span 6;
}
.section--harmonie{

    .title--medium{
        margin-top: 40px;
    }

    & p {
        max-width:100%;
    }

    & p:nth-of-type(1){
        grid-column: 1 / span 5;
        grid-row: 3;
    }
    & p:nth-of-type(2){
        grid-column: 1 / span 6;
        grid-row: 6;
        margin-bottom: 0;
    }
    & p:nth-of-type(3){
        grid-column: 1 / span 6;
        grid-row: 7;
        margin-top: 32px;
    }

}

p{
    margin: 48px 0 32px 0;
}

.title{

    &--medium{
        grid-column: 1 / span 6;
        grid-row: 1;
        max-width: 80%;
        margin: 72px 0 0 0;
    }
    &--small{
        grid-column: 3 / span 4;
        grid-row: 2;
        max-width: 100%;
        margin: 72px 0 0 0;
    }


}

.encresec{
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    align-self: end;
    margin-bottom: 2px;

    &__name{
        margin-top: 8px;
    }
}

.formcontainer{
    grid-column: 1 / span 6;
    grid-row: 4;
    width: 100%;
    background-color: $c-grey;
    border-radius: 16px;

    p{
        margin: 24px 16px;
        color: white;
    }

    &__repliste{
        padding: 0;
        height: 40vh;

        overflow-y: scroll;

    }

    &__rep{
        color: white;
        list-style: none;
        line-height: 120%;
        margin: 4px 16px;
        background-color: $c-textorange;
        padding: 16px;
    }
    &__rep:nth-of-type(1){
        border-radius: 13px 13px 0 0;
    }
}

.formstates{
    grid-column: 3 / span 2;


    &__nav{
        display: flex;
        width: 100%;
        justify-content: space-between;
        z-index: -2;
    }
    &__nav button{
        font-size: 0;
        height: 40px;
        width: 48%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right center;
        background-color: rgba(255, 250, 240, 0);
        border: none;
        padding: 0;
    }
    &__next{
        background-image: url(../../assets/images/next.svg);

    }
    &__back{
        background-image: url(../../assets/images/back.svg);
    }

    &__liste{
        list-style: none;
        display: flex;
        justify-content: space-between;
        padding: 0;
    }
    &__el{
        height: 16px;
        width: 16px;
        border-radius: 100px;
        background-color: $c-reddark;

        &.actif{
            background-color: $c-redlight;
            box-shadow: 0px 0px 2px #FF461E;

        }
    }
}


.jackplug{
    position: absolute;
    height: 40px;
    width: 236px;
    background-image: url(../../assets/images/jackplug.svg);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -10;


    &--right{
    bottom: -280px;
    left: -100px;
    transform: scale(-1, 1);
    }

}


.section--attaque{

    grid-template-rows: repeat(5, auto);


    & p:nth-of-type(1){
        grid-column: 1 / span 5;
        grid-row: 3;
    }


    .jackplug--attaque{
        position: absolute;
        bottom: -1700px;
        left: -100px;
        transform: scale(-1, 1);

        }

}

.citations{
    grid-column: 1 / span 6;
    margin: 32px 0 0 0;
    grid-row: 5;

    &::before{
        content: "";
        background-image: url(../../assets/images/quote.svg);
        background-repeat: no-repeat;
        background-size: contain;
        height: 24px;
        width: 24px;
        grid-row: 5;
        grid-column: 1 / span 6;
        display: block;
        margin-bottom: 8px;

      }

}

.vocalcontainer{
    height: 40vh;
    grid-column: 1 / span 6;
    grid-row: 4;
    background-color: $c-textorange;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    padding: 16px 16px;
    overflow: hidden;

    &__vocal{
        height: 40px;
        width: 50%;
        margin: 4px;
        background-color: $c-backgr;
        border-radius: 100px;

        &:nth-child(even){
            align-self: end;
        }
    }

    svg{
        transform: scale(1.5);
    }

}

.section--quotidien{
    grid-template-rows: repeat(5, auto);

    p:nth-of-type(1){
        grid-row: 3;
        grid-column: 1 / span 6;
    }
    p:nth-of-type(2){
        grid-row: 5;
        grid-column: 1 / span 6;
    }

    .title--medium{
        grid-column: 1 / span 6;
        max-width: 100%;
    }
}

.respanim{
    height: 22vh;
    grid-column: 1 / span 6;
    grid-row: 4;
    display: flex;
    justify-content: space-between;

    &__screen:nth-of-type(1){
        height: calc(100% - 12px);
        width: 32%;
        background-color: $c-grey;
        border-radius: 16px;
        border: solid 6px #505050;
    }
    &__screen:nth-of-type(2){
        height: 60%;
        width: 58%;
        background-color: $c-textorange;
        align-self: flex-end;
        border-radius: 16px;
        border: solid 6px $c-amporange;

    }
}

.section--solution{

    grid-template-rows: repeat(8, auto);

    & p:nth-of-type(1){
        grid-row: 3;
    }

    & p:nth-of-type(2){
        grid-row: 5;
    }

    & p:nth-of-type(3){
        grid-row: 7;
    }

}

.solution{
    height: auto;
    grid-column: 2 / span 4;
    background-color: $c-textorange;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: -15;
    margin: 8px 0 48px 0;


    &__picto{
        transform: scale(0.6);
        margin-bottom: 16px;
        height: 100%;
        margin: 0;
    }



    &--last{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        grid-column: 2 / span 4;
        padding: 16px 0;

        & svg{
            scale: 0.8;
        }
    }
}

.section--conscience{

    grid-template-rows: repeat(5, auto);

    .title--medium{
        grid-column: 1 / span 6;
        max-width: 100%;
    }

    .citations{
        margin: 8px 0 0 0;
    }

}

.groupes{

    list-style: none;
    display: flex;
    grid-column: 1 / span 6;
    padding: 0;
    justify-content: space-between;
    margin: 56px 0 0 0;


    &__logo{
        height: 96px;
        width: 96px;
        background-color: $c-amporange;
        border-radius: 100px;


    }

    &__logo:nth-of-type(1){
        background-image: url(../../assets/images/schiste.png);
    }
    &__logo:nth-of-type(2){
        background-image: url(../../assets/images/lamuerte.png);
    }
    &__logo:nth-of-type(3){
        background-image: url(../../assets/images/wastedlife.png);
    }

}

.hyperlink{
    text-decoration: none;
}


.section--passion{

    grid-template-rows: repeat(6, auto);

}

.repete{
    list-style: none;
    padding: 0;
    display: flex;
    grid-column: 1 / span 6;
    justify-content: space-between;
    margin-top: 0;

    &__membres{
        width: 80px;
        height: 80px;
        border-radius: 100px;
        background-color: $c-amporange;
        font-size: 0;
    }

    &__membres:nth-of-type(1){
        background-image: url(../../assets/images/rob.jpg);
        background-size: cover;
        background-position: center center;
    }
    &__membres:nth-of-type(2){
        background-image: url(../../assets/images/teo.jpg);
        background-size: cover;
        background-position: center center;
    }
    &__membres:nth-of-type(3){
        background-image: url(../../assets/images/cyril.jpg);
        background-size: cover;
        background-position: center center;
    }
    &__membres:nth-of-type(4){
        background-image: url(../../assets/images/jona.jpg);
        background-size: cover;
        background-position: center center;
    }
}

.intralink:nth-of-type(1){
    grid-column: 2 / span 2;
    grid-row: 6;
    text-align: center;
    margin-top: 40px;
}

.intralink:nth-of-type(2){
    grid-column: 4 / span 2;
    grid-row: 6;
    text-align: center;
    margin-top: 40px;
}