$c-bg: #efefef;
$c-alt: #e41612;
$c-grey: #303030;
$c-text: #444;
$c-textorange: #C94F11;
$c-backgr : #FFFFEE;

$size-text: 20px;
$size-sec: 14px;
$size-title-small: 34px;
$size-title-medium: 49px;


